#icons-left {
border: 2px solid #0B192C;
}

#Menu {
  background: rgba(13, 16, 22, 0.9);
  backdrop-filter: blur(4px);
}

#left {
    border-right: 1px solid #f2f2f2;
}

#right {
    border-left: 1px solid #f2f2f2;
}

#ping {
    position: absolute;
    top: 45px;
    left: 350px;
}

.fa-rocket {
    position: relative;
}

#code-2 {
    position: absolute;
    left: 350px;
    bottom: 184px;
}

#code-1 {
    position: relative;
}

#btn-talk:hover {
    box-shadow: 5px 6px 8px 3px #295790;
}

#icons-left:hover {
    box-shadow: 5px 6px 8px 3px #295790;
}

#btn-main span {
    border: 1px solid #0B192C;
}

#line-main {
    width: 622px;
    margin-top: 2rem;
}

#slider-wrapper {
    width: 96%;
    margin: 2rem 0rem 0 0rem;
    padding: 1rem;
    background: black;
    position: relative;
}

#slider-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    /* animation: 25s slide infinite linear; */
}

#slider-wrapper::before, #slider-wrapper::after {
    width: 10%;
    height: 11vh;
    position: absolute;
    top: 0;
    background: black;
    z-index: 2;
    content: "";
}

#slider-wrapper::before {
    left: 0;
    background: linear-gradient(to left, #000);
}

#slider-wrapper::after {
    right: 0;
    background: linear-gradient(to right, #000);
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-96%);
    }
}