#ground {
  background-image: url("/dist/img/star-4773.gif");
 /* background: #FBFBFB; */
}

/* Start left side */
#icons-left {
border: 2px solid #0B192C;
}

#left {
    border-right: 1px solid #f2f2f2;
}

#btn-talk:hover {
    box-shadow: 5px 6px 8px 3px #295790;
}

#icons-left:hover {
    box-shadow: 5px 6px 8px 3px #295790;
}

#my-img {
    position: absolute;
    top: 6px;
    left: 6px;
}

#circle-img {
    position: relative;
}

#avater-img {
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: 1;
    transition: all .4s ease;
}

#avater-img:hover {
    opacity: 0;
}
/* Ends left side */

/* Start Navbar */
#Navbar {
  z-index: 1;
}

#Menu {
  background: rgba(13, 16, 22, 0.9);
  backdrop-filter: blur(4px);
}
/* Ends Navbar */

/* Start Right side */
#right {
    border-left: 1px solid #f2f2f2;
}

#img-ping {
    position: absolute;
    top: 82px;
    right: 239px;
}

#img-origin {
    position: relative;
}
/* Ends Right side */

/* Start Main side */
#ping {
    position: absolute;
    top: 45px;
    left: 350px;
}

.fa-rocket {
    position: relative;
}

#code-2 {
    position: absolute;
    left: 350px;
    bottom: 184px;
}

#code-1 {
    position: relative;
}

#btn-main span {
    border: 1px solid #0B192C;
}

#line-main {
    width: 622px;
    margin-top: 2rem;
}

#slider-wrapper {
    width: 96%;
    margin: 2rem 0rem 0 0rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

#slider-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    animation: 25s slide infinite linear;
}

#slider-wrapper::before, #slider-wrapper::after {
    width: 10%;
    height: 11vh;
    position: absolute;
    top: 0;
    background: black;
    z-index: 2;
    content: "";
}

#slider-wrapper::before {
    left: 0;
    background: linear-gradient(to left, #000);
}

#slider-wrapper::after {
    right: 0;
    background: linear-gradient(to right, #000);
}

#slider-wrapper:hover #slider-icons {
    animation-play-state: paused;
}
/* Ends Main side */


/* Start word carousel Main */
#carousel::after {
    content: "";
    animation: 20s swap infinite;
}
/* Ends word carousel Main */


/* Starts Carousel */
@keyframes swap {
    0% {
        content: " Code That Connects People and Possibilities."; 
    }

    25% {
        content: " Solutions for web design, development, and digital marketing.";
    }

    75% {
        content: " Building the Web, One Pixel at a Time."; 
    }

    100% {
        content: " Code That Connects People and Possibilities."; 
    }
}
/* Ends Carousel */

/* Start Scrolling */
@keyframes slide {
   
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}
/* Ends Scrolling */